# Ignore everything in this folder except .tex, .pdf and essential assets
*
!*.tex
!*.pdf
!*.gitignore

# Keep necessary assets for building the presentation
!collegebeamer.sty
!references.bib

!img/
!img/*.png
!img/*.svg
!img/*.jpg
!img/*.webp
